/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
    --ifm-color-primary: #5f1fe0;
    --ifm-code-font-size: 95%;
    --ifm-tabs-padding-vertical: .7rem;
}

* {
    transition: background-color .3s;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
    --ifm-color-primary-lightest: #e298ff;
    --ifm-color-primary-lighter: #db7fff;
    --ifm-color-primary-light: #db7fff;
    --ifm-color-primary: #c73aff;
    --ifm-color-primary-dark: #c73aff;
    --ifm-background-color: #0f0f0f !important;
}

[data-theme="dark"] .navbar {
    background-color: #1b1b1b;
}

kbd {
    padding: 0.3rem 0.5rem;
    background-color: #1b1b1c;
    color: #dddddd;
    border-radius: 0.4rem;
    border: 1px solid #5c5c5c;
    box-shadow: 0px 3px #5a5a5a;
}

.navbar__search-input {

}

.navbar__search-input:focus-visible {
    outline: 2px solid var(--ifm-color-primary) !important;
}


.navbar__logo {
    padding-left: 1rem;
    margin-right: 1rem;
}

.navbar__logo img {
    border-radius: .2rem;
}

.footer {
    background-color: #131313;
}

.docusaurus-highlight-code-line {
    background-color: rgba(0, 0, 0, 0.1);
    display: block;
    margin: 0 calc(-1 * var(--ifm-pre-padding));
    padding: 0 var(--ifm-pre-padding);
}

[data-theme="dark"] .docusaurus-highlight-code-line {
    background-color: rgba(0, 0, 0, 0.3);
}

a[href^="https://vercel.com/?utm_source=swirl-team&utm_campaign=oss"]
{
    opacity: 100 !important;
}
